---
import BaseLayout from "../layouts/BaseLayout.astro";
import { formatDate } from "../utils/dates";

const pageTitle = "My Astro Learning Blog";

export async function getStaticPaths({ paginate }: any): Promise<any> {
    const pages = await Astro.glob("./posts/*.md");

    pages.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));

    return paginate(pages, { pageSize: 5 });
}

const { page }: any = Astro.props;
const { prev, next } = page.url;
---

<BaseLayout pageTitle={pageTitle}>
    {
        page.data.sort(() => {}).map((post: any) => (
            <div class="post">
                <p class="post-title">
                    <a href={`${post.url}`}>
                        {post.frontmatter.title}
                    </a>
                </p>
                <p>{post.frontmatter.description}</p>
                <p>
                    Published in{" "}
                    {formatDate(new Date(Date.parse(post.frontmatter.pubDate)))}
                    {/* {post.frontmatter.pubDate.toString().slice(0, 10)} */}
                </p>
            </div>
        ))
    }
    <div class="pagination-buttons">
        {
            prev && (
                <p>
                    <a href={prev}>&lt; Previous</a>
                </p>
            )
        }
        {prev && next && <span>&ensp;</span>}
        {
            next && (
                <p>
                    <a href={next}>Next &gt;</a>
                </p>
            )
        }
    </div>
</BaseLayout>
