---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="tags">
        {
            frontmatter.tags.map((tag: any) => (
                <p class="tag">
                    {tag}
                    {/* <a href={`/tags/${tag}`}>{tag}</a> */}
                </p>
            ))
        }
    </div>
    <h1>{frontmatter.title}</h1>
    <slot />
    {frontmatter.resources && (
        <h2>Additional Resources</h2>
        <div class="resources">
                {frontmatter.resources.map((resource: any) => (
                    <a href={resource} target="_blank" rel="noopener noreferrer">
                        {resource}</a>
                ))}
        </div>
    )}
    <p class="post-last-updated">Last updated on {frontmatter.updatedDate.toString().slice(0, 10)}</p>
</BaseLayout>
